sudo: required
group: deprecated-2017Q3
language: scala

services:
- docker
env:
  global:
  - secure: lQT7+rxOmzmbsvaNfcp1CzriB9i5DXcbN3kdEY5sLJpDG9wYJjTImzLK2tUpzV2M7Se8cXyrSc0oGr3HwfR7UR/4QZE8IjiZUrE4tFWjuRWehUPZ4Lx7o9QpesUfERohADnh1mxCsQ79wnvv+BZMwa7XrAhRYvqsx+mz/mz54Qfs99wGtc8tIlJBX2UI9+wIik03U4EyqG9QHcvHJtaBopeczv+tQ5pNSdM55LTbl3TUc1s0Q5Lmf0GUmQyPrRAVfZMx0rQVnAANScxByTBbiLrMvJrZkj5WOjfFn/9uCSt5Fg0iTdKX77CdXEInRfCQ34gcLvvbTBxlsm9kPbEpTkBdlWCC6M4HF6vVjqyrc6BIF/NQmh/c8yr1KC+46W2Tz2dKoz53bli+lU5SVPsgqjpQtzel4oUDLqaBRfRuQzruL5hzr6HQVuJo2zYrAC84aA+/4ezk3cGNbkFYxq71wrWf3HrCxUAlSwfTzZpwQKulVIL4ofgJxphC7/6Akmqze80D3ux3xqiB0CiCOArc40hWq/EdHCn86hDLfIZOjj8lLO26cVNZU3sbl1TMEMLKBidULodNnlppLvO0D2qXrPm2wEuKaGZz9qLcg4utSixPWKGNHjsN/0N0uOVNevtJC6x1AgfzWP4z+NVEA+/Dyo7esFr1XSnIFzks5pr2d3s=
  - secure: YnI0FRmhb4hvMECtezKWbjxHcEGWSMouvJwF9q4qzVAG0Oe1IuCRZE3qBYGW/NsW05I8GhaQeZwmfdqk+WeUzIaA/WT2TLqUzKv9FY44yPFCNYST6ahzJPM8Nc+z6S2SP9yMZfq4WB0pQQCIFB7lXlzkUYD+93m9d9GxlYo+tHXIO4GNA8Brf7RhPc4IgrHZaNREkNs64L77z9bD6wiAe4IHUgpiz9HtNV5i4n4kNUQUGAyXZQdtVwhxwQ1GwAK7GVdLxC+ViL6a8UKFkfF/uC/6szYvdm39CVvZTiUwX+SP1MjIue2ISEgtJyBpZX2tXLE7d45Snrr2kupBvgZsikGpRjFQDe3q7wuyxHhHfxg1R6UKWSi7G2VnAyk+UQZAR5ZH6nrPq4NxJL8DXKIY457ZzKRuvnZWZKcjM9AO3gLoX3ycIzAase7G45FxMrCd/I87eRX4+krNitOgrgeqgIcVF60Ku2QAzYxvN0F7TQZArTWUiYIy+O46SBXRNsakoYPbKOaypmuKYgjAf88CUtdxyLTMQX0u7vEctZ4AciKrDdjrhu9JXqq39J5fHmmcRNLXI9pYapd8c0aY3i35AUDWd08vMACtNaOb/tdrCVZvNHe2u49wDdW7w6GkSQ8F15vG8odCcY0NyeODZXGnFKVi0ykVEB26J2ENJ30zd18=

notifications:
  email: false
  webhooks:
    urls:
      # travis2slack webhook to enable DMs on openwhisk-team.slack.com to PR authors with TravisCI results
      secure: kLdOkrKzqb3ihx6PTWV/CLunhdIVdayNEYIiFSh6X8fDLSuLyjJnYWYrb71c8qdYwDwrgOzulEDMouWjwg2sFBzsNJXLxGjYaMTXJtCtgWegFDK90VkrGNDoRzm4Emh+Ou8+8nM72k4Mnb02RFXkJACVPwrcYEHFtlXvm+ZEb9+bvUwu1UbrFWhFqCpjYzpyLrJaZRhhU3N3EJoGOLkOnNQRtC9x2hY2bkoFDSqCqji75tB/MvdEL70mT5fYgZ/iLIoJ9FjoPHzRZ4b4sP6isfrHk/SI9FAiqXO4p6Kg70RWPLAipN/MZrWz5qepSzdn2Njk3LxDH+XxsDaU0jKbK0c9F0g75CkKNLwHpHNxGDNEkWf7ELSJ2H2ekgIoq5OHEvyPBV+u8iJXVt3AS7jEcVIsL+CEnbbUF0mb4sC8auyUS4FQIHzgUxHQt3pzQffDBTqP9lhmWy9ceeHc6SlAdehzo8RQ5NkFUfSGWhlzCCP5xRuEY+BIaoeeTZNny1pPmeLd69pnYjIBnODtPDy4n3kFCZaS5rSHHcDZHY7hq+RLbhrAnoVtiw7sy1bAKNn+iJvnFTveKeBD/aD/nadBlSg+4mBXxvc0ggldt8niOH0oq1c42/s7XIsD9RY7WkJw4VCyMunGa0dhbtnyy4Te2uN3oXvGY+ObDhMwLA2ftsc=

before_install:
- 'if [ "$TRAVIS_PULL_REQUEST" = "false" ] && [ "$TRAVIS_REPO_SLUG" = "ibm-functions/runtime-nodejs" ]; then openssl aes-256-cbc -K $encrypted_a2f40e331ab3_key -iv $encrypted_a2f40e331ab3_iv -in tests/credentials.json.enc -out tests/credentials.json -d; fi'
- "./tools/travis/setup.sh"
install: true
script:
- "./tools/travis/build.sh && ./tools/travis/deploy.sh && ./tools/travis/test.sh"
deploy:
  - provider: script
    script: "./tools/travis/publish.sh ibmfunctions $TRAVIS_TAG"
    on:
      tags: true
      all_branches: true
      repo: ibm-functions/runtime-nodejs
  - provider: script
    script: "./tools/travis/publish.sh ibmfunctions latest"
    on:
      branch: master
      repo: ibm-functions/runtime-nodejs

