sudo: required
group: deprecated-2017Q3
language: scala
services:
- docker
env:
  global:
  - secure: lQT7+rxOmzmbsvaNfcp1CzriB9i5DXcbN3kdEY5sLJpDG9wYJjTImzLK2tUpzV2M7Se8cXyrSc0oGr3HwfR7UR/4QZE8IjiZUrE4tFWjuRWehUPZ4Lx7o9QpesUfERohADnh1mxCsQ79wnvv+BZMwa7XrAhRYvqsx+mz/mz54Qfs99wGtc8tIlJBX2UI9+wIik03U4EyqG9QHcvHJtaBopeczv+tQ5pNSdM55LTbl3TUc1s0Q5Lmf0GUmQyPrRAVfZMx0rQVnAANScxByTBbiLrMvJrZkj5WOjfFn/9uCSt5Fg0iTdKX77CdXEInRfCQ34gcLvvbTBxlsm9kPbEpTkBdlWCC6M4HF6vVjqyrc6BIF/NQmh/c8yr1KC+46W2Tz2dKoz53bli+lU5SVPsgqjpQtzel4oUDLqaBRfRuQzruL5hzr6HQVuJo2zYrAC84aA+/4ezk3cGNbkFYxq71wrWf3HrCxUAlSwfTzZpwQKulVIL4ofgJxphC7/6Akmqze80D3ux3xqiB0CiCOArc40hWq/EdHCn86hDLfIZOjj8lLO26cVNZU3sbl1TMEMLKBidULodNnlppLvO0D2qXrPm2wEuKaGZz9qLcg4utSixPWKGNHjsN/0N0uOVNevtJC6x1AgfzWP4z+NVEA+/Dyo7esFr1XSnIFzks5pr2d3s=
  - secure: YnI0FRmhb4hvMECtezKWbjxHcEGWSMouvJwF9q4qzVAG0Oe1IuCRZE3qBYGW/NsW05I8GhaQeZwmfdqk+WeUzIaA/WT2TLqUzKv9FY44yPFCNYST6ahzJPM8Nc+z6S2SP9yMZfq4WB0pQQCIFB7lXlzkUYD+93m9d9GxlYo+tHXIO4GNA8Brf7RhPc4IgrHZaNREkNs64L77z9bD6wiAe4IHUgpiz9HtNV5i4n4kNUQUGAyXZQdtVwhxwQ1GwAK7GVdLxC+ViL6a8UKFkfF/uC/6szYvdm39CVvZTiUwX+SP1MjIue2ISEgtJyBpZX2tXLE7d45Snrr2kupBvgZsikGpRjFQDe3q7wuyxHhHfxg1R6UKWSi7G2VnAyk+UQZAR5ZH6nrPq4NxJL8DXKIY457ZzKRuvnZWZKcjM9AO3gLoX3ycIzAase7G45FxMrCd/I87eRX4+krNitOgrgeqgIcVF60Ku2QAzYxvN0F7TQZArTWUiYIy+O46SBXRNsakoYPbKOaypmuKYgjAf88CUtdxyLTMQX0u7vEctZ4AciKrDdjrhu9JXqq39J5fHmmcRNLXI9pYapd8c0aY3i35AUDWd08vMACtNaOb/tdrCVZvNHe2u49wDdW7w6GkSQ8F15vG8odCcY0NyeODZXGnFKVi0ykVEB26J2ENJ30zd18=
before_install:
- 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then openssl aes-256-cbc -K $encrypted_a2f40e331ab3_key -iv $encrypted_a2f40e331ab3_iv -in tests/credentials.json.enc -out tests/credentials.json -d; fi'
- "./tools/travis/setup.sh"
install: true
script:
- "./tools/travis/build.sh && ./tools/travis/test.sh"
deploy:
  - provider: script
    script: "./tools/travis/publish.sh ibmfunctions $TRAVIS_TAG"
    on:
      tags: true
      all_branches: true
      repo: ibm-functions/runtime-nodejs
  - provider: script
    script: "./tools/travis/publish.sh ibmfunctions latest"
    on:
      branch: master
      repo: ibm-functions/runtime-nodejs

